$padding: 8px;
$margin: 8px;
$margin-top: 60px;

$body-bg: #000;
$body-color: #111;

$main-bg: #1c1a24;
$main-bg-hover: #9585ee;
$main-bg-light: #312f3d;
$main-bg-inventory: #434050;
$main-bg-inventory-btn: #4c4b58;
$main-bg-inventory-btn-hover: #626072;

$b-item-width: 150px;

$b-account-case-width: 605px;
$b-account-case-padding: 15px 30px;
$b-account-case-border-radius: 5px;

$b-li-border-bottom: 1px solid white;

$b-container-width: 1280px;

$b-inventory-info-color: #BBB9C7;
$b-inventory-info-font-size: 11px;

$b-trade-case-widht: 520px;

$radius: 4px;