$padding: 8px;
$margin: 8px;
$margin-top: 60px;

$green-bg: #26ae68;
$green-bg-hover: #31c375;

$body-bg: #000;
$body-color: #111;

$main-bg: #1c1a24;
$main-bg-hover: #806cf5;
$main-bg-light: #312f3d;
$main-bg-inventory: #474457;
$main-bg-inventory-btn: #626072;

$b-item-width: 150px;

$b-account-case-width: 580px;
$b-account-case-padding: 15px 30px;
$b-account-case-border-radius: 5px;

$b-li-border-bottom: 1px solid white;

$b-container-width: 1280px;

$radius: 4px;