$padding: 8px;
$margin: 8px;

$green-bg: #26ae68;
$green-bg-hover: #31c375;

$main-bg: #1c1a24;
$main-bg-hover: #806cf5;
$main-bg-light: #312f3d;

$b-item-width: 150px;

$b-account-case-width: 580px;
$b-account-case-margin: 0 auto;
$b-account-case-padding: 15px 30px;
$b-account-case-border-radius: 5px;

$b-li-border-bottom: 1px solid white;

$radius: 4px;